<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator</title>
</head>
<body>
    <h1>Selamat Datang di Kalkulator Kami</h1>
    <p>Pilih operasi matematika yang ingin Anda lakukan:</p>
    <ul>
        <li><a href="/penjumlahan">Penjumlahan</a></li>
        <li><a href="/pengurangan">Pengurangan</a></li>
        <li><a href="/perkalian">Perkalian</a></li>
        <li><a href="/pembagian">Pembagian</a></li>
        <li><a href="/pemangkatan">Pemangkatan</a></li>
        <li><a href="/faktorial">Faktorial</a></li>
    </ul>
    <footer>
        tMC Tomy Studio © 2024
    </footer>
</body>
</html>
